<%- include("header", {}) %>
    <h1>Chat</h1>
    <div id="mensajes">
    </div>
    <form id="chat">
        <input type="text" name="msg">
        <button>Enviar</button>
    </form>
<%- include("footer", {}) %>
