<%- include("header", {}) %>
<h1><%= title %></h1>
<table id="usersTable">
    <tr id="column">
      <th>Username</td>
      <th>Role</td>
      <th>Last Login</td>
      <th>Delete</td>
    </tr>
</table>
<%- include("footer", {}) %>